@import "tailwindcss";
@import "material-symbols";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-brand-blue: #74c1c9;
  --color-brand-light-brown: #7c7c7c;
  --color-brand-walnut: #463025;
  --color-brand-soft-gray: #f2f3f8;
  --color-brand-medium-gray: #828484;
  --color-brand-gray: #5c5a64;
  --color-brand-green: #298179;
}
